<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>School Website</title>
    <link rel="stylesheet" href="/download.css">
  </head>
  <body>
    <!-- include navbar  -->
    <%-include("./partials/nav.ejs") %>

    <!-- download-section -->
    <h3 style="text-align: center; margin: 20px; color: brown">DOWNLOAD</h3>

    <div class="download-section">
      <div class="download">
        <h4>NUR-UKG</h4>
        <p>EXAM TIME TABLE</p>
        <a href="#">Download</a>
      </div>
      <div class="download">
        <H4>1-3</H4>
        <p>EXAM TIME TABLE</p>
        <a href="#">Download</a>
      </div>
      <div class="download">
        <H4>4-6</H4>
        <p>EXAM TIME TABLE</p>
        <a href="#">Download</a>
      </div>
      <div class="download">
        <H4>7-8</H4>
        <p>EXAM TIME TABLE</p>
        <a href="#">Download</a>
      </div>
    </div>

    <!-- footer section  -->

    <footer>
      <hr />
      <p>&copy;All Right Reserved 2016-2023</p>
      <p>Bright Future Academy</p>
    </footer>
  </body>
</html>
