<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>School Website</title>
    <link rel="stylesheet" href="/gallery.css">
  </head>
  <body>
    <!-- include navbar  -->

    <%-include("./partials/nav.ejs") %>

    <!-- gallery-section -->
    <h2>OUR<span>GALLERY</span></h2>
    <div class="gallery-section">
      <div class="gimage">
        <img src="./Images/gallery 1.jpg" alt="" />
        
      </div>
      <div class="gimage">
        <img src="./Images/gallery 2.jpg" alt="" />
        <!-- <video width="300px"height="200px"controls>
          <source src="2.mp4"type="video/mp4">
        </video> -->
      </div>
      <div class="gimage">
        <img src="./Images/gallery 3.jpg" alt="" />
      </div>
      <div class="gimage">
        <img src="./Images/gallery 4.jpg" alt="" />
      </div>
      <div class="gimage">
        <img src="./Images/gallery 2.jpg" alt="" />
      </div>
      <div class="gimage">
        <img src="./Images/gallery 3.jpg" alt="" />
      </div>
    </div>

    <!-- footer section  -->

    <footer>
      <hr />
      <p><b id="smb">&copy;</b> All Right Reserved 2016-2023</p>
      <p>Bright Future Academy</p>
    </footer>
  </body>
</html>
