<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>School Website</title>
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <!-- include navbar  -->
    <%-include("./partials/nav.ejs") %>

    <div class="main-slider">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="true"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              style="width: 1920px; height: 450px"
              src="Images/Slider/2.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              style="width: 1920px; height: 450px"
              src="Images/Slider/1.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- notice section  -->
    <div class="notice-section">
      <div class="notice">
        <h5>NOTICE</h5>
        <marquee behavior="" direction="up">
          <p>
            Admission is open for the students and ready for the Examination.
          </p>
        </marquee>
      </div>

      <div class="notice">
        <h5>ANNOUNCEMENT</h5>
        <marquee behavior="" direction="up">
          <p>New students who join here will get another benefit.</p>
        </marquee>
      </div>
      <div class="notice">
        <h5>NEWS</h5>
        <marquee behavior="" direction="up">
          <p>You will get something new.</p>
        </marquee>
      </div>
    </div>

    <!-- about us section  -->
    <div class="about-us-section">
      <div class="about-us-content">
        <h2>BRIGHT FUTUTE ACADEMY</h2>
        <p>
          This school established in the year 2016,holds the most distinct
          importance in the rural area.Along with the academic study of the
          children proper guidence is given by examining their art and
          skillshere.Neccessary techniques are used for academic,physical,social
          and mental development.We provides every possible things to complete
          their and task. Every possible education contents required to
          students,are provided by online and offline.We try our best every
          moment...
        </p>
        <h2>WE PROVIDES:</h2>
        <p>NURSERY TO 8 STANDARDS</p>
      </div>
      <div class="about-us-content">
        <img src="./Images/about me.jpg" alt="aboutimg" />
      </div>
    </div>

    <!-- FACILITY SECTION  -->
    <h3 style="text-align: center">OUR FACILITY</h3>
    <div class="facility-section">
      <div class="facility-content">
        <img src="./Images/Tech.jpg" alt="technology" />
        <h4>TECHNOLOGY</h4>
        <p>Computer labs facility will be available soon..</p>
      </div>
      <div class="facility-content">
        <img src="./Images/Transport.jpg" alt="TRANSPORTATION" />
        <h4>TRANSPORTATION</h4>
        <p>Transport system available for the students.</p>
      </div>
      <div class="facility-content">
        <img src="./Images/gallery 2.jpg" alt="SECURITY" />
        <h4>DANCE & MUSIC</h4>
        <p>Organizing cultural programs for the students.</p>
      </div>
    </div>
    <!-- STAFF-SECTION  -->
    <h3 style="text-align: center; margin: 20px 5px 10px 5px">OUR STAFF</h3>
    <div class="staff-section">
      <div class="staff-content">
        <img src="./Images/teachers01.jpeg" alt="teacher1" />
        <h4>GUNJAN KUMARI</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
          voluptatem.
        </p>
      </div>
      <div class="staff-content">
        <img src="./Images/teachers02.jpeg" alt="teachers02" />
        <h4>RAJIYA KHATOON</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
          voluptatem.
        </p>
      </div>
      <div class="staff-content">
        <img src="./Images/teachers03.jpeg" alt="teachers03" />
        <h4>NISHU TIWARI</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
          voluptatem.
        </p>
      </div>
      <div class="staff-content">
        <img src="./Images/teachers03.jpeg" alt="teachers03" />
        <h4>ISTIYAK KHAN</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
          voluptatem.
        </p>
      </div>
      <div class="staff-content">
        <img src="./Images/teachers03.jpeg" alt="teachers03" />
        <h4>ZAINUDDIN SHAH</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
          voluptatem.
        </p>
      </div>
      <div class="staff-content">
        <img src="./Images/teachers03.jpeg" alt="teachers03" />
        <h4>JITENDRA CHAUHAN</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
          voluptatem.
        </p>
      </div>
      <div class="staff-content">
        <img src="./Images/teachers03.jpeg" alt="teachers03" />
        <h4>GULNAZ KHATOON</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
          voluptatem.
        </p>
      </div>
      <div class="staff-content">
        <img src="./Images/teachers03.jpeg" alt="teachers03" />
        <h4>PRITI KUMARI</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
          voluptatem.
        </p>
      </div>
    </div>
    <!-- footer section  -->

    <footer>
      <hr />
      <p>&copy;All Right Reserved 2016-2023</p>
      <p>Bright Future Academy</p>
    </footer>
  </body>
</html>
